.sellercenter-widthspan span.num {    float: left;
    padding: 5px 10px 9px 10px;
    border: 1px solid #d2d6de;
    margin-right: 0;
    width: 55px;
	border-right:0;
    box-sizing: border-box;
    background: #efefef;
    text-align: center;
    height: 34px;}
.sellercenter-widthspan input[type=text] {    width: 81%;}	


.seller-center-ntn {
    float: left;
    width: 100%;
}
.seller-center-ntn .firstfield {float: left;width: 78%;}
.seller-center-ntn span.dash {
    float: left;
    text-align: center;
    width: 7%;
    font-size: 25px;
    line-height: 29px;
}
.seller-center-ntn .secondfield {
    float: right;
    width: 15%;
    text-align: center;
}
.seller-center-ntn label {width:100%; float:left;}

.sellercenter-returns {float:left;width: 104%;}

.sellercenter-returns .field {float:left;width: 47%;padding: 0;box-sizing: border-box;margin-right: 6px;}
.sellercenter-returns .field.imfull {    width: 96%;}


